.list-item {
  background-color: #ccffcc;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 60px;
}

.list-item:hover {
  background-color: #9af59a;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-title .flag {
  height: 40px;
  aspect-ratio: 1;
}

.card-title .flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-body h2 {
  font-size: 24px;
}

.card-body h3 {
  font-size: 18px;
  font-weight: 500;
}

.card-body p {
  font-size: 16px;
  opacity: 0.6;
}

a {
  all: unset;
}
