.filter-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: min(1rem, 3vw);
}

.filter-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: min(1rem, 3vw);
}

.filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8fff8f;
  padding: 0.5rem 0.4rem;
  border: none;
  border-radius: 10px;
  gap: 0.2rem;
  cursor: pointer;
}

.filter-item-container > .active {
  background-color: #20f920;
}
